# --- UNIVERSAL (Front y Back) ---
node_modules
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*

# --- SEGURIDAD (CRÍTICO) ---
# Esto evita que se suban tus claves
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- VITE / REACT (Frontend) ---
dist
dist-ssr
*.local

# --- EDITORES ---
.vscode/*
!.vscode/extensions.json
.idea